<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Marketplace</h1>
        <div class="links">
            <a href="/cadastro"><button><i class="material-icons">keyboard_tab</i>Cadastrar um petshop</button></a>
        </div>
    </header>
    <section class="top">
        <div class="description">
            <h1>O seu marketplace de pet shop</h1>
            <p>O marketplace feito para ajudar a encontrar o pet shop mais proximo de você.</p>
            <a href="/petshops"><button><i class="material-icons">pets</i>Ver petshops cadastrados</button></a>
        </div>
        <img src="assets/undraw_dog_walking_0jpt.svg" alt="">   
    </section>
</body>