<link rel="stylesheet" href="/styles/styles.css">

<section class="card">
        <section class="avatar" style="background:url({{petshop.avatar_url}}) no-repeat center center /cover"></section>
        <section class="details">

            <h3>Informações</h3>

            
            <div class="item">
                <div>Nome</div>
                <div>
                    {{petshop.name}}
                </div>
            </div>
            <div class="item">
                <div>Descrição</div>
                <div>
                    {{petshop.description}}
                </div>
            </div>
            <div class="item">
                <div>Horário</div>
                <div>{{petshop.hour}}</div>
            </div>
            <div class="item">
                <div>E-mail</div>
                <div>{{petshop.email}}</div>
            </div>

        </section>
    </form>